.spinner{
    display:grid;
    place-self:center;
    min-height:80vh;

}

.spin{
    width:65px;
    height:65px;
    place-self:center;
    border:5px solid #6d5dfc;
    border-top-color:transparent;
    border-radius:50%;
    animation: rotate 2s linear infinite;
}


@keyframes rotate{
    100%{
        transform:rotate(360deg);
    }
}


